@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.cv-container {
    height: 85vh;
    
}

.cv-container p {
    padding: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    min-height: 100vh

}
.cv-container p a {
    color: blue;
    text-decoration: none;
}