@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.experience {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 70vh;
}
.arrow-btn {
    padding: 20px 24px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: whitesmoke;
}
.arrow-btn:hover {
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
}

.header-exp {
    height: 280px; 
}

.exp-description {
    border-top: 1px solid grey;
    position: sticky;
}
.exp-card {
    border: 1px solid rgb(219, 219, 219);
    margin: 10px;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background-color: hotpink; */
}
.exp-card:hover {
    border: 1px solid rgb(82, 128, 255);
    box-shadow: 1px 1px rgb(82, 128, 255);
    margin: 10px;
    cursor: pointer;
}

.exp-card h1 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.exp-card h2 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;

}

.exp-card img {
    height: 150px;
    width: auto;
    object-fit: cover;
    border-bottom: 1px solid gray;
}
